.page {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  @media (min-width: 1080px) {
    flex-direction: row;
    align-content: center;
    grid-template-columns: 1fr 0.1fr 0.5fr;
    grid-template-rows: 1fr;
  }
  .section {
    max-width: 100vw;
    @media (min-width: 1080px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100%;
      justify-content: center;
    }
  }
}
