.member-card {
    padding: 10px;
    min-width: 8em;
    min-Height: 8em;
    background-color: #2a2d2e;
    border-radius: 4px;
    position: relative;
    __icons {
        display: flex;
        justify-content: space-between;
    }
    // &:hover {
        //     transition: ease 0.25s;
        //     background-color: #393d3f;
        
        // }
        &__empty {
            padding: 0;
            transition: ease 0.25s;
        }
    .member-card__close {
        cursor: pointer;
        background-color: #db2222;
        color: #c9c7c5;
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 4px;
        padding: 4px;
        font-style: bold;
        transition: ease 0.25s;
        &:hover {
            background-color: #a81d1d;
        }
    }
}