.pokemon {

    &__stat {
        padding: 0.3em 0;
        color: #afaba5;
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
        gap: 20px;
        text-align: left;
        width: 100%;
        align-items: center;
        &:not(:last-of-type) {
            border-bottom: 2px solid #afaba533;
        }
    }

}