.grid {
    grid-row:2;
    @media(min-width: 1080px) {
        grid-row: 1;
    }
}

.summary {
    grid-row:1;
    @media(min-width: 1080px) {
        grid-column: 3;
        justify-content: flex-start;
    }
}