.autocomplete {
    position: relative;
}

.input {
        margin: 0;
}
.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style: none;
    text-align: start;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    background-color: rgb(175, 175, 175);
}
.suggestion {
    padding: 0.5em;
    border-bottom: 1px #fff;
    color: #afaba5;
    cursor: pointer;
    transition: ease 0.3s;
    background-color: #282a2b;
    &.active, &:hover {
        background-color: #343738;
    }
    &:active {
        background-color: #343738;
    }
}