.text{
    &-l {
        font-size: 3em;
    }
    &-xl {
        font-size: 4em;
    }
    &-xxl {
        font-size: 5em;
    }
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
}

.error {
    color: red;
}

h1 {
    margin: 0.3em;
}