@import './text.scss';

.d-flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.w{
    &-50 {
        width: 50%;
    }
    &-100 {
        width: 100%;
    }
}
 
.align {
    &-center{
        align-items: center;
    }
    &-start{
        align-items: flex-start;
    }
    &-end{
        align-items: flex-end;
    }
}

.justify {
    &-center{
        justify-content: center;
    }
    &-start{
        justify-content: flex-start;
    }
    &-end{
        justify-content: flex-end;
    }
    &-around {
        justify-content: space-around;
    }
    &-between {
        justify-content: space-between;
    }
}

.m {
    &-auto {
        margin: auto;
    }
    &-0 {
        margin: 0;
    }
    &r {
        &-auto {
            margin-right: auto;
        }
        &-0 {
            margin-right: 0;
        }
    }

    &l {
        &-auto {
            margin-left: auto;
        }
        &-0 {
            margin-left: 0;
        }
    }
}